include ../icon/icon

mixin round(data)
	- var classes = [];
	if data.params
		each name, key in data.params
			- classes.push('_'+key+'_'+name)
	+b.round(class=classes)&attributes(attributes)
		+icon((typeof data === 'string' ? data : data.icon)).round__image

