.round
	height 180px
	width 180px
	padding 30px
	overflow hidden

	&__image
		height 100%
		width 100%

	&_background_white
	&_background_orange
	&_background_green
	&_background_aqua
		border-radius 50%

	&_background_white
		background-color #fff

	&_background_orange
		background-color #eb7d4b

	&_background_green
		background-color #17c2a4

	&_background_aqua
		background-color #30bae7

	&_color_black
		color #000

	&_color_grey
		color #333

	&_color_green
		color #17c2a4

	&_color_white
		color #fff

	&_color_blue
		color #273a71

	&_size_large
		width 300px
		height 300px

