.code
	position relative
	width 100%
	text-align right
	display flex
	align-items stretch
	padding-top 16px

	&__souce
		position relative
		width 100%
		border-radius 5px
		padding 26px 10px 10px
		background-color #272822
		color #F8F8F2
		text-align left
		font-family monospace
		z-index 1

	&__lang
		position absolute
		display block
		top 0
		right 10px
		background-color #373832
		border-radius 5px
		padding 4px 10px
		color #fff
		font-style italic
		z-index 2


	&__line
		position relative
		padding-left 18px
		white-space nowrap

		&_type_content
			white-space normal

		&_type_part:after
			position absolute
			left 6px
			width 6px
			top 5px
			bottom 4px
			background-color currentColor
			opacity 0
			pointer-events none
			content ''

		&_state_hover:after
			opacity 1

		&_type_element&_state_hover:after
			opacity .5


		&_color_orange:after
			color #eb7d4b
		&_color_green:after
			color #00cc99
		&_color_blue:after
			color #333366
		&_color_purple:after
			color #87509c
		&_color_black:after
			color #333

		&_type_close
			padding-left 0

		for level in (0..10)
			&_level_{level}
				&:before
					position absolute
					left (level ) * -15px
					right -10px
					top 0
					bottom 0
					border-top 1px solid rgba(255,255,255,.05)
					content ''
		&_level_0
			padding-right 10px
		&_level_0:before
			right 0
			border-bottom 1px solid rgba(255,255,255,.05)

	&__highlight
		&_html
			&_tag
				color #F92672
			&_key
				color #A6E22E
			&_value
				color #E6DB74
			&_content
				color #F2F2F2

		&_jade
			&_tag
				color #F92672
			&_key
				color #A6E22E
			&_value
				color #E6DB74
			&_class
				color #AE81FF
			&_content
				color #F2F2F2

		&_bemto
			&_type
				color #A6E22E
			&_tag
				color #E6DB74
			&_key
				color #A6E22E
			&_value
				color #E6DB74
			&_class
				color #AE81FF
			&_content
				color #F2F2F2
