.code
	position relative
	color inherit
	text-align left
	margin-left 5px
	line-height 1.2
	padding 3px

	&:before
		position absolute
		top 0
		left 0
		right 0
		bottom 0
		border 2px none transparent
		z-index 1
		content ''

	&:hover:before
	&_state_hover:before
		border-color currentColor

	&_type_block:before
		border-style solid

	&_type_element:before
		border-style dotted

	&_color_orange
		color #eb7d4b

	&_color_green
		color #00cc99

	&_color_blue
		color #333366

	&_color_purple
		color #87509c

	&_color_black
		color #333




