.bem
	position relative
	color inherit
	padding 4px
	border-radius 3px
	border 2px none transparent
	text-align left

	&:not(:last-child)
		margin-bottom 5px

	&:hover
	&_state_hover
		border-color currentColor

	&_type_block
	&_type_element
		border-style solid

	&_color_orange
		color #eb7d4b
	&_color_orange &_type_element
		color lighten(#eb7d4b, 50%)

	&_color_green
		color #00cc99
	&_color_green &_type_element
		color lighten(#00cc99, 50%)

	&_color_blue
		color #333366
	&_color_blue &_type_element
		color lighten(#333366, 50%)

	&_color_purple
		color #87509c
	&_color_purple &_type_element
		color lighten(#87509c, 50%)

	&_color_black
		color #333
	&_color_black &_type_element
		color lighten(#333, 50%)

	&_display_columns
		display flex
		flex-direction column
		align-items center
		justify-content space-between


	&_display_rows
		display flex
		align-items flex-start
		justify-content space-between

	&_display_rows > &
		margin-bottom 0px

		&:not(:last-child)
			margin-right 5px

	&_align_stretch
		align-items stretch
