.bem
	position relative
	color inherit
	padding 4px
	border-radius 3px
	border 2px none transparent
	text-align left

	&:not(:last-child)
		margin-bottom 5px

	&:hover
	&_state_hover
		border-color currentColor

	&_type_block
		border-style solid

	&_type_element
		border-style dotted

	&_color_orange
		color #eb7d4b

	&_color_green
		color #00cc99

	&_color_blue
		color #333366

	&_color_purple
		color #87509c

	&_color_black
		color #333

	&_display_columns
		display flex
		flex-direction column
		align-items center
		justify-content space-between


	&_display_rows
		display flex
		align-items flex-start
		justify-content space-between

	&_display_rows > &
		margin-bottom 0px

		&:not(:last-child)
			margin-right 5px

	&_align_stretch
		align-items stretch
