include /blocks/content/content

mixin bem(data)
	- var classes = [];
	if data.params
		each name, key in data.params
			- classes.push('_'+key+'_'+name)

	if data.blocks.length || block
		+b.bem.js-bem(class=classes)&attributes(attributes)
			if block
				block
			if data.blocks
				each elem in data.blocks
					each item, name in elem
						if name == 'bem'
							+bem(item)
						if name == 'content'
							+content(item)

