.features
	width 100%
	display flex
	justify-content space-around
	align-items flex-start
	align-content center
	flex-wrap wrap

	&_size_fullscreen
		min-height 100%

	&_direction_column
		flex-direction column


