include /blocks/section/section

include /blocks/heading/heading
include /blocks/title/title
include /blocks/description/description

include /blocks/round/round
include /blocks/button/button


+section._color_light
	+heading
		+e.title
			+title(1) БЭМ
		+e.description
			+description._size_large Знать БЭМ-методологию обязан каждый уважающий себя верстальщик!

	+round('yuranchik')._size_large._color_black

	+button._color_aqua Я хочу знать больше!



