.title
	font-size 3em
	font-weight bold

	&_level_1
		font-size 3.5em
		text-transform uppercase

	&_level_2
		font-size 3em
		text-transform uppercase

	&_level_3
		font-size 2em
		text-transform uppercase

	&_level_4
		font-size 1.5em
