mixin title(data)
	- var classes = [];
	- var data = data || {};
	- data.params = data.params || {};
	if !data.params.level
		- data.params.level = 1;

	if data.params
		each name, key in data.params
			- classes.push('_'+key+'_'+name)
	+b('h'+data.params.level).title(class=classes)&attributes(attributes)
		if block
			block
		if data.title
			!=data.title


