include /../node_modules/bemto.jade/bemto.jade
include /../node_modules/jade-injected/jade-injected
include /blocks/scripts/scripts
include /blocks/icon/icon

doctype html
html(lang='ru')
	include /blocks/head/head
	+b('body').landing
		+icon('csssr').landing__logo
		block content


		+scripts(['app.min.js'])
