include /../node_modules/bemto.jade/bemto.jade
include /blocks/scripts/scripts

doctype html
html(lang='ru')
	include /blocks/head/head
	+b('body').landing
		+icon('csssr').landing__logo
		block content


		+scripts(['app.min.js'])
