include /../node_modules/bemto.jade/bemto.jade
include /blocks/scripts/scripts

doctype html
html(lang='ru')
	include /blocks/head/head
	+b('body').landing
		block content

		+scripts(['app.min.js'])
