include /blocks/round/round
include /blocks/heading/heading
include /blocks/button/button
include /blocks/features/features
include /blocks/example/example

mixin section(data)
	- var classes = [];
	if data.params
		each name, key in data.params
			- classes.push('_'+key+'_'+name)
	+b('section').section(class=classes)&attributes(attributes)
		+e.wrapper
			if block
				block
			if data.blocks
				each item, name in data.blocks
					if name == 'round'
						+round(item)

					if name == 'heading'
						+heading(item)

					if name == 'button'
						+button(item)

					if name == 'features'
						+features(item)

					if name == 'example'
						+example(item)

