extends /layouts/landing/landing

block head
	- var pageTitle = 'БЭМ';

block content

	include sections/intro
	include sections/bemto
	include sections/bem-block
	include sections/bem-element
	include sections/bem-modificator
	include sections/steps
	include sections/analytics
