mixin button(data)
	- var classes = [];
	if data.params
		each name, key in data.params
			- classes.push('_'+key+'_'+name)
	+b('button').button(class=classes)&attributes(attributes)
		+e('span').text
			if block
				block
			if data.text
				!=data.text

