.content
	display block
	text-align left
	color #333

	&_type_image
		height 100px
		width 100px
		border-radius 50%
		background-size cover

	&_photo_1
		background-image url('https://i0.wp.com/simplefelicity.net/wp-content/uploads/2014/02/bio-pic-200x200.jpg')

	&_photo_2
		background-image url('http://cdn.onegreenplanet.org/wp-content/uploads/2010/10//2013/12/Kate-Good.jpg')

	&_type_quote
		font-size 1em
		font-style italic
		width 300px

		&:after
		&:before
			content '"'

	&_type_quote&_align_center
		width 260px
		height 100%

	&_type_autor
		font-size 1.25em
		text-transform uppercase
		font-weight bold

	&_align_center
		text-align center
