.heading
	display flex
	flex-direction column
	justify-content space-between
	align-items center

	&__separator
		margin 20px 0

	&__description
		max-width 900px

	&_align_left
		align-items flex-start
		text-align left

	&_align_right
		align-items flex-end
		text-align right
