.flex
	position relative
	display flex
	justify-content space-around
	align-items stretch

	&__item:not(:first-child)
		padding-left 10px
	&__item:not(:last-child)
		padding-right 10px

	&_cols_2 &__item
		display flex

	&__item_ghow_1
		width 50%
		flex-grow 1
		flex-shrink 0


